.rightbar {
  position: fixed;
  background-color: rgb(246, 249, 253);
  top: 0;
  bottom: 0;
  right: 0;
  width: 56px;
}

.bottombar{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 16px;
  background-color: rgb(246, 249, 253);
  z-index: 350;
}